link(rel='stylesheet' href='style.css')
div#header
	a(href="/" class = "links") Home
	| 
	a(href="/orderpage" class = "links") Order Page
	| 
	a(href="/stats" class = "links") Restaurant Stat
	| 
	