link(rel='stylesheet' href='style.css')
div#header
	a(href="/" class = "links") Home
	| 
	a(href="/addrestaurant" class = "links") Add Restuarant
	| 
	a(href="/restaurant" class = "links") Browse Restaurants
	| 
	