html 
    head
        title  You Want Food? 
body
    include ../partials/header
    
    #header
        h1 WELCOME!
        h1 Do You Want Food NOW?
        h1 Well if you do order THIS SECOND and we'll deliver in 0.000383473 MILLISECONDS! 
        h1 DON'T BELIEVE US?
        h1 ORDER NOW AND FIND OUT!

