html 
    head
        title  You Want Food? 
        link(rel='stylesheet' href='style.css')
body
    include ../partials/header
    
    h1 Restaurant Pages
    div
        each restaurant in restaurantNames
            a(href="/restaurant/#{restaurant.id}" class = "links") #{restaurant.name}
