html 
    head
        title  You Want Food? 
body
    include ../partials/header
    
    h1 Restaurant ID #{restaurant.id}
    | Restaurant Name: 
    input(type= "text", id="restaurantnamepage") 
    br


    
