html 
    head
        title  You Want Food? 
body
    include ../partials/header
    
    p Restaurant ID: #{restaurant.id}
    | Restaurant Name: 
    input(type= "text", id="restaurantnamepage") 
    br
    br
    | Restaurant Min Order: 
    input(type= "text", id="restaurantname") 
    br
    br
    | Delivery Fee: 
    input(type= "text", id="restaurantname") 
    br
    br

    | Add Category: 
    input(type= "text", id="restaurantname") 
    br
    br

    | Category Name: 
    input(type= "text", id="restaurantname") 
    br
    button(type="button", id="submitbutton") Add Category


    
