html 
    head
        title  You Want Food? 
body
    include ../partials/header
    
    h1 Restaurant Pages

    each restaurant in restaurantsIDs
        p df
        a(href="/restaurant/#{restaurant.id}") #{restaurant.name}
