html 
    head
        title  You Want Food? 
body
    include ../partials/header
    
    h1 Restaurant Info
    p Restaurant ID: #{restaurant.id}
    | Restaurant Name: 
    input(type= "text", id="restaurantnamepage", value = restaurant.name) 
    br
    br
    | Restaurant Min Order: 
    input(type= "text", id="restaurantname", value = restaurant.min_order) 
    br
    br
    | Delivery Fee: 
    input(type= "text", id="restaurantname", value = restaurant.delivery_fee) 
    br
    br

    h1 Add Category: 
    br
    | Category Name: 
    input(type= "text", id="restaurantname") 
    br

    button(type="button", id="submitbutton") Add Category


    h1 Add Item: 
    br
    | Select Category: 
    - let menu = Object.keys(restaurant.menu);
    select
        each category in menu
            option=category
    br
    | Item Name: 
    input(type= "text", id="restaurantnamepage") 
    br
    | Item Description: 
    input(type= "text", id="restaurantname") 
    br
    | Item Price: 
    input(type= "text", id="restaurantname") 
    br
    button(type="button", id="additembutton") Add Item
    br
    br

    h1 Menu

    each category in menu
        h4 #{category}
        - let items = Object.keys(menu[category])
        each item in items



    




    
