html 
    head
        title  You Want Food? 
body
    include ../partials/header
    
    h1 Restaurant Info
    p Restaurant ID: #{restaurant.id}
    | Restaurant Name: 
    input(type= "text", id="restaurantnamepage") 
    br
    br
    | Restaurant Min Order: 
    input(type= "text", id="restaurantname") 
    br
    br
    | Delivery Fee: 
    input(type= "text", id="restaurantname") 
    br
    br

    h1 Add Category: 
    br
    | Category Name: 
    input(type= "text", id="restaurantname") 
    br

    button(type="button", id="submitbutton") Add Category


    h1 Add Item: 
    br
    | Select Category: 
    select#dropdown

    | Item Name: 
    input(type= "text", id="restaurantnamepage") 

    | Item Description: 
    input(type= "text", id="restaurantname") 

    | Item Price: 
    input(type= "text", id="restaurantname") 

    button(type="button", id="additembutton") Add Item
    br
    br


    
