html 
    head
        title  You Want Food? 
        link(rel='stylesheet' href='style.css')
body
    #header
        h1 You Want Food NOW?
        #headerBox
            #dropdownText
                p
                    strong Please select a restaurant to order from
                select#dropdown
        p#requirements
    #main
    #box
        #categories
        #items
        #itemsOrdered
    script(src='client.js')
