html 
    head
        title  You Want Food? 

body
    include ../partials/header
    link(rel='stylesheet' href='style.css')

    h1 Restaurant Stats Summary

    p Restaurant    # of Orders    Average Order    Most Popular Item


