html 
    head
        title  You Want Food? 

body(onload='init()')
    include ../partials/header
    link(rel='stylesheet' href='style.css')

    h1 Restaurant Stats Summary

    p Restaurant  
    p # of Orders
    p Average Order
    p Most Popular Item
    script(src='/stats.js')

