#header{
    width: 1450px;
    height: 150px;
    margin: 0px;
    padding: 20px;
    border: 0px;
    text-align: center;
    background-color: mistyrose;
    color: ;
}

#categories{
    width: 400px;
    height: 600px;
    background-color: lemonchiffon;
}

#display{
    width: 1000px;
    height: 600px;
    background-color: palegreen;
}

body{
    margin : 0;
}