html 
    head
        title  You Want Food? 
body
    include ../partials/header 
    h1 Welcome to Restaurant Ordering System
    include ../partials/input
    br
    button(type="button", id="loginbutton") Login
    br

script(src="/login.js")