html 
    head
        title  You Want Food? 
body
    include ../partials/header
    br
    | Enter your username and password below to register: 
    br
    br
    include ../partials/input
    br
    button(type="button", id="registerbutton") Register
    br

script(src="/register.js")